/*#results {
  width:var(--mainItemWidth)
*/
#results {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#resultDisplay {
  min-height:320px;
  display:grid;
  grid-template-columns:3fr 2fr;
  justify-content:space-between;
  align-items:center;
  grid-column-gap:5px;
  margin:var(--standardDistance);
}



#results figure {
   height:200px;
  display:grid;
  justify-content:center;
}

#results figure img{
  width:200px;
  height:auto;
}
.resultsButton {
  width:48%;
  background:linear-gradient(30deg, #836fa9,#b39ddb);
  border:5px solid #b4004e;
}

#finalButtonWrap {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

