#buttonWrap, .questionButton {
	width:100%;
}

#send {
	background:-webkit-linear-gradient(300deg, #af8eb5, #e1bee7);
	background:-o-linear-gradient(300deg, #af8eb5, #e1bee7);
	background:linear-gradient(30deg, #af8eb5, #e1bee7);
}

#next {
	background:-webkit-linear-gradient(210deg, #9499b7, #c5cae9);
	background:-o-linear-gradient(210deg, #9499b7, #c5cae9);
	background:linear-gradient(300deg, #9499b7, #c5cae9);
}
