@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*Vaiables*/
:root {
	/*--bigDistance:44px;*/
	--standardDistance:12px;
	--standardHalfDistance:6px;
	--aBlack:#263238;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html { 
  background: var(--darkGray);  
  background: -webkit-linear-gradient(left, #eef2f3, #8e9eab);
  background: -o-linear-gradient(left, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  height:100vh;
  font-family:"Roboto Slab";
  color:var(--aBlack);
  min-width:400px;
}

body,#root {
	height:100%;
}

.App {
	height:100%;
	display:grid;
}

/*Estilos generales que se utilizan en varios subcomponentes*/
input[type="button"]:hover{
	box-shadow:2px 2px 2px #bdbdbd;
	transform:scale(1.001);
	cursor:pointer;
	transition-duration:0.3s;
}

input[type="button"]{
  margin-top:var(--standardDistance);
  height:65px;
  border:none;
  border-radius:5px;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  font-size:20px;
}

input[type="button"]:focus{
	outline:none;
}

@media all and (max-width:980px){
  input[type="button"]{
    font-size:16px;
  }
}
