#buttonWrap {
  width:100%;
}

.questionButton{
  width:100%;
    margin-bottom:36px;
}

#send {
  background:linear-gradient(30deg, #DD2D4C,#C52844);
  border:5px solid #9D2036;

}

#next {
  background:linear-gradient(30deg, #00695c,#439889);
}

@media all and (max-width:980px){
  main {
    flex-direction:column;
    font-size:0.75rem;
  }
  main img {
    order:2;
  }

  header,main {
    height:auto;
  }
  
  form {
    align-items:center;
  }
}
