
#buttonWrap, .questionButton {
  width:100%;
}

#send {
  background:linear-gradient(30deg, #DD2D4C,#C52844);
  border:5px solid #9D2036;
}

#next {
  background:linear-gradient(30deg, #00695c,#439889);
}
