@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.container {
  width:35%;
  margin:var(--standardHalfDistance);
  padding:var(--standardDistance);
}

header, main {
  background:white;
  box-shadow:var(--standardShadow);
  border:var(--standardBorder);
  margin-bottom:var(--standardDistance);
  padding:0 var(--standardHalfDistance);
}

main {
  height:480px;
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:center;
  padding-bottom:var(--standardDistance)
}

h1 {
  font-size:1.5rem;
  text-align:center;
}

main figure {
  width:50%;
  height:auto;
  overflow:hidden;
}

main figure img{
  max-width:100%;
  height:auto;
}

main form {
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
}
@media all and (max-width:980px){
  .container {
    width:85%;
  }
  form{
    height:auto;
  }
}
