@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.container {
  width:35%;
  margin:var(--standardHalfDistance);
  margin-top:0px;
  padding:var(--standardDistance);
}

header, main {
  background:white;
  box-shadow:var(--standardShadow);
  border:var(--standardBorder);
 
  
  border-radius:5px;
}

header {
  margin-top:var(--bigDistance);
   margin-bottom:var(--standardDistance);
  padding:var(--standardDistance);
}

main {

  height:440px;
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:center;
  padding:var(--bigDistance);
  margin-bottom:var(--bigDistance);
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size:1.5rem;
  text-align:center;
  color:#757575;
}

main figure {
  width:50%;
  height:auto;
  overflow:hidden;
}

main figure img{
  max-width:100%;
  height:auto;
}

main form {
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
}
@media all and (max-width:980px){
  .container {
    width:85%;
  }
  form{
    height:auto;
  }
}

@media all and (max-width:480px){
  *{
    height:auto;
  }
}