#question{
  width:100%;
  min-height:370px;
}

label {
  display:grid;
  grid-template-columns:1fr 9fr;
  font-size:1.1rem;
  margin-top:var(--standardHalfDistance);
}

label input {
  width:20px;
  height:20px;
  background:pink;
  opacity:0.75;
}

h2 {
  font-size:1.25rem;
  color:#263238;
}

@media all and (max-width:980px){
  label {
    font-size:1.15rem;
  }

  #question{
    min-height:360px;
  }
}
