#question{
  width:100%;
  min-height:370px;
}

label {
  display:grid;
  grid-template-columns:1fr 9fr;
  font-size:1.25rem;
  margin-top:var(--standardHalfDistance);
}

label input {
  width:20px;
  height:20px;
}

h2 {
  color:#E69EAE; 
  font-size:1.35rem;
}

@media all and (max-width:980px){
  label {
    font-size:1.15rem;
  }

  #question{
    min-height:360px;
  }
}
