#results {
  width:var(--mainItemWidth)
}

.resultsButton {
  width:48%;
  background:linear-gradient(30deg, #ec407a,#ff77a9);
  border:5px solid #b4004e;
}

#finalButtonWrap {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

h3 {
  min-height:12vh;
}

@media all and (max-width:980px){
  #finalButtonWrap {
    flex-direction:column;
  }
  .resultsButton {
   width:100%;}
  
  h3 {
    text-align:center;
  }
}